/Nemo157.Common/bin/
/Nemo157.Common/obj/
/Nemo157.Common/Nemo157.Common.csproj.user
/SubsonicMusicPlayer/bin/
/SubsonicMusicPlayer/obj/
/SubsonicMusicPlayer/SubsonicMusicPlayer.csproj.user
/SubsonicApiTests/bin/
/SubsonicApiTests/obj/
/SubsonicApiTests/SubsonicApiTests.csproj.user
/SubsonicApi/bin/
/SubsonicApi/obj/
/SubsonicApi/SubsonicApi.csproj.user
/packages
/SubsonicClients.crunchsolution.cache
/SubsonicClients.ncrunchsolution.user
/SubsonicClients.v11.suo
