/SubsonicClients.v11.suo
/SubsonicMusicPlayer/bin/
/SubsonicMusicPlayer/obj/
/SubsonicApiTests/bin/
/SubsonicApiTests/obj/
/SubsonicApi/bin/
/SubsonicApi/obj/
/SubsonicApi/SubsonicApi.csproj.user
/packages
/SubsonicClients.crunchsolution.cache
/SubsonicClients.ncrunchsolution.user
